<div class="d-md-flex mb-5 mt-xxl-5 cb1">
  <div
    class="p-3 text-center align-content-center col-md-6 col-lg-5 col-xl-4 mt-2 cb2"
  >
    <div *ngIf="'en' === translate.currentLang; else es">
      <span class="me-4">
        <a aria-current="page" routerLink="/" routerLinkActive="active">
          <img
            src="../../../assets/img/enText.svg"
            alt="{{ 'home.title' | translate }}"
            width="100%"
            height="100%"
          />
        </a>
      </span>
    </div>
    <ng-template #es
      ><span class="me-4">
        <a aria-current="page" routerLink="/" routerLinkActive="active">
          <img
            src="../../../assets/img/esText.svg"
            alt="{{ 'home.title' | translate }}"
            width="100%"
            height="auto"
            class="ms-2 d-inline-block align-text-top"
          />
        </a> </span
    ></ng-template>

    <div class="mt-4">
      <p
        class="lh-lg px-lg-1 px-xxl-3"
        [innerHTML]="'home.TextParagraphOne' | translate"
      ></p>
      <br />
      <p
        class="lh-lg px-lg-2 px-xxl-3"
        [innerHTML]="'home.TextParagraphTwo' | translate"
      ></p>
      <br />
      <p
        class="lh-lg px-lg-2 px-xxl-3"
        [innerHTML]="'home.TextParagraphThree' | translate"
      ></p>
    </div>
  </div>

  <div class="py-3 cb3 col d-flex justify-content-center position-relative">
    <!--col d-flex justify-content-center position-relative-->
    <div class="gagd px-2 py-lg-1 px-lg-5">
      <img
        src="../../../assets/img/ux-ui-gagd.png"
        alt="{{ 'home.title' | translate }}"
        width="100%"
        height="auto"
        class="ms-2 d-inline-block align-text-top"
      />
    </div>
  </div>
</div>
