<div class="d-md-flex col cb4 mb-5">
  <div class="p-3 fs-0 open-sans open-sans-titles cb1">
    <p>
      <span class="cb2">{{ "home.titleA" | translate }}</span>
    </p>
    <p>
      <span class="fs-A gc-1 ml-n1 cb3">{{ "home.titleB" | translate }}</span>
    </p>
    <p>
      <span class="fs-01 cb4">{{ "home.titleC" | translate }}</span>
    </p>
    <p>
      <span class="fs-02 cb2">{{ "home.titleD" | translate }}</span>
      <span class="fs-02 cb2 text-primary">{{
        "home.titleE" | translate
      }}</span>
    </p>
  </div>

  <div class="p-3 col cb2">contenido de main de cada componente</div>
</div>
