//////////////
/// FOTNS ///
////////////

.fs {
  &-0 {
    font-size: rem-calc(56);
  }

  &-01 {
    font-size: rem-calc(53.1);
  }
  &-02 {
    font-size: rem-calc(51.52);
  }

  &-A {
    font-size: rem-calc(131.4);
  }
}

////////////////
/// MARGINS ///
//////////////

//negative
.m {
  &l {
    &-n1 {
      margin-left: rem-calc(-10) !important;
    }
  }

  &t {
    &-n1 {
      margin-top: rem-calc(-300) !important;
    }
  }
}

////////////////
/// PARAGRAPH ///
//////////////

p {
  margin-bottom: 0;
}

////////////////
/// LINE HEIGTH ///
//////////////

.l {
  &h {
    &-0 {
      line-height: 0.8 !important;
    }
  }
}

//////////////////////////////////
///////////// SELECT ////////////
////////////////////////////////

.select {
  &-bn {
    border: none !important;
  }
}

//////////////////////////////////////
///////////// RESPONSIVE ////////////
/////////// ACCESIBILITY ///////////
///////////////////////////////////

//MEDIA
@include respond-below(sm) {
  .fs {
    &-0 {
      font-size: rem-calc(48);
    }

    &-01 {
      font-size: rem-calc(45.6);
    }
    &-02 {
      font-size: rem-calc(44.16);
    }

    &-A {
      font-size: rem-calc(113.28);
    }
  }
}
