///////////////////
/// UTILITIES ///
////////////////

.u {
  &__position {
    z-index: 1 !important;
  }

  &__f {
    &--ls {
      &1 {
        letter-spacing: 1px;
      }
      &2 {
        letter-spacing: 2px;
      }
      &3 {
        letter-spacing: 3px;
      }
      &4 {
        letter-spacing: 4px;
      }
      &5 {
        letter-spacing: 5px;
      }
      &6 {
        letter-spacing: 6px;
      }
      &7 {
        letter-spacing: 7px;
      }
      &8 {
        letter-spacing: 8px;
      }
      &9 {
        letter-spacing: 9px;
      }
      &10 {
        letter-spacing: 10px;
      }
    }
    &--s {
      &0 {
        font-size: rem-calc(48);
      }
    }
  }

  @include respond-below(xl) {
    &__f {
      &--ls {
        &1 {
          letter-spacing: 0px;
        }
        &2 {
          letter-spacing: 0px;
        }
        &3 {
          letter-spacing: 0px;
        }
        &4 {
          letter-spacing: 0px;
        }
        &5 {
          letter-spacing: 0px;
        }
        &6 {
          letter-spacing: 0px;
        }
        &7 {
          letter-spacing: 0px;
        }
        &8 {
          letter-spacing: 0px;
        }
        &9 {
          letter-spacing: 0px;
        }
        &10 {
          letter-spacing: 0px;
        }
      }
      &--s {
        &0 {
          font-size: rem-calc(48);
        }
      }
    }
  }
}

//////////////
/// FOTNS ///
////////////

// .fs {
//   &-0 {
//     font-size: rem-calc(56);
//   }

//   &-01 {
//     font-size: rem-calc(53.1);
//   }
//   &-02 {
//     font-size: rem-calc(51.52);
//   }

//   &-A {
//     font-size: 17vw;
//   }
// }

////////////////
/// MARGINS ///
//////////////

//negative
.m {
  &l {
    &-n1 {
      margin-left: rem-calc(-10) !important;
    }
  }

  &t {
    &-n0 {
      margin-top: rem-calc(-200) !important;
    }
    &-n1 {
      margin-top: rem-calc(-300) !important;
    }
  }
}

////////////////
/// PARAGRAPH ///
//////////////

p {
  margin-bottom: 0;
}

////////////////
/// LINE HEIGTH ///
//////////////

.l {
  &h {
    &-0 {
      line-height: 0.9 !important;
    }
  }
}

//////////////////////////////////
///////////// SELECT ////////////
////////////////////////////////

.select {
  &-bn {
    border: none !important;
  }
}
//////////////////////////////////
///////////// BORDER ////////////
////////////////////////////////

.u-border-none {
  border: none !important;
}

//////////////////////////////////////
///////////// Z-INDEX ////////////
///////////////////////////////////

//////////////////////////////////////
///////////// RESPONSIVE ////////////
/////////// ACCESIBILITY ///////////
///////////////////////////////////

//MEDIA ABOVE

@include respond-above(zz) {
  //en
  .fs {
    &-0 {
      font-size: rem-calc(35.2);
    }

    &-01 {
      font-size: rem-calc(33.6);
    }
    &-02 {
      font-size: rem-calc(33);
    }

    &-A {
      font-size: 26vw !important;
    }
  }
}

@include respond-above(zx) {
  //en
  .fs {
    &-0 {
      font-size: rem-calc(42.2);
    }

    &-01 {
      font-size: rem-calc(40.6);
    }
    &-02 {
      font-size: rem-calc(40);
    }

    &-A {
      font-size: 23vw !important;
    }
  }
}

@include respond-above(sm) {
  //en
  .fs {
    &-0 {
      font-size: rem-calc(49);
    }

    &-01 {
      font-size: rem-calc(46.6);
    }
    &-02 {
      font-size: rem-calc(46);
    }
    &-A {
      font-size: 15vw !important;
    }
  }
}
@include respond-above(md) {
  //en
  .fs {
    &-0 {
      font-size: rem-calc(52);
    }

    &-01 {
      font-size: rem-calc(50.6);
    }
    &-02 {
      font-size: rem-calc(50);
    }

    &-A {
      font-size: 12vw !important;
    }
  }
}
@include respond-above(lg) {
  //en
  .fs {
    &-0 {
      font-size: rem-calc(48);
    }

    &-01 {
      font-size: rem-calc(45.6);
    }
    &-02 {
      font-size: rem-calc(44.16);
    }

    &-A {
      font-size: 8vw !important;
    }
  }
}
@include respond-above(xxl) {
  //en
  .fs {
    &-0 {
      font-size: rem-calc(48);
    }

    &-01 {
      font-size: rem-calc(45.6);
    }
    &-02 {
      font-size: rem-calc(44.16);
    }

    &-A {
      font-size: 6.3vw !important;
    }
  }
}
@include respond-above(xxxl) {
  //en
  .fs {
    &-0 {
      font-size: rem-calc(48);
    }

    &-01 {
      font-size: rem-calc(45.6);
    }
    &-02 {
      font-size: rem-calc(44.16);
    }

    &-A {
      font-size: 4.4vw !important;
    }
  }
}

// MEDIA BELLOW

@include respond-below(mdl) {
  .u-svg {
    width: 100% !important;
  }
}
