<header class="container-fluid bg-dark cb3 position-fixed top-0 u__position">
  <div class="container cb2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!--LOGO STARTS-->
        <span class="me-4">
          <a aria-current="page" routerLink="/" routerLinkActive="active">
            <img
              src="../../../assets/img/gagd-logo.svg"
              alt="Gabriel Garcia LOGO"
              width="40"
              height="22"
              class="ms-2 d-inline-block align-text-top"
            />
          </a>
        </span>
        <!--LOGO ENDS-->

        <!--APP MENU toggler STARTS-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--APP MENU toggler ENDS-->
        <!--APP MENU STARTS-->
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-lg-end"
          id="navbarSupportedContent"
        >
          <span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="/"
                  routerLinkActive="active"
                >
                  {{ "menu.liZero" | translate }}</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="me"
                  routerLinkActive="active"
                >
                  {{ "menu.liOne" | translate }}</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ "menu.liTwo" | translate }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" routerLink="projects">
                      {{ "submenu.liOne" | translate }}</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="prototypes">{{
                      "submenu.liTwo" | translate
                    }}</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" routerLink="designs">{{
                      "submenu.liThree" | translate
                    }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </span>

          <!--APP LANGUAGUES SELECTION STARTS-->
          <div
            class="d-flex bg-body py-2 px-2 rounded ms-lg-4 align-items-center"
          >
            <!-- <img
              src="../assets/img/language-light.svg"
              alt="Seleccion de idioma"
              height="25"
              class="d-inline-block me-2"
            /> -->

            <div class="dropdown">
              <label for="{{ 'languages.languageSelection' | translate }}">
                <span class="sr-only">
                  {{ "languages.languageSelection" | translate }}</span
                >
                <span
                  class="fi fi-gb px-3"
                  *ngIf="'en' === translate.currentLang"
                ></span>
                <span
                  class="fi fi-es px-3"
                  *ngIf="'es' === translate.currentLang"
                ></span>
              </label>

              <select
                id="{{ 'languages.languageSelection' | translate }}"
                class="select select-bn"
                #langSelect
                (change)="translate.use(langSelect.value)"
              >
                <option
                  *ngFor="let lang of translate.getLangs()"
                  [value]="lang"
                  [selected]="lang === translate.currentLang"
                >
                  {{ lang | translate }}
                </option>
              </select>
            </div>
          </div>
          <!--APP LANGUAGUES SELECTION ENDS-->
        </div>
        <!--APP MENU ENDS-->
      </div>
    </nav>
  </div>
</header>
