<!-- <select (change)="onSelectionChange($event)">
  <option value="show">Show Element</option>
  <option value="hide">Hide Element</option>
</select> -->
<header class="container-fluid bg-dark cb3">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!--LOGO STARTS-->
        <span class="me-4">
          <a aria-current="page" routerLink="/" routerLinkActive="active">
            <img
              src="../assets/img/gagd-logo.svg"
              alt="Gabriel Garcia LOGO"
              width="40"
              height="22"
              class="ms-2 d-inline-block align-text-top"
            />
          </a>
        </span>
        <!--LOGO ENDS-->

        <!--APP MENU toggler STARTS-->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--APP MENU toggler ENDS-->
        <!--APP MENU STARTS-->
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-lg-end"
          id="navbarSupportedContent"
        >
          <span>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="me"
                  routerLinkActive="active"
                >
                  {{ "menu.liOne" | translate }}</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ "menu.liTwo" | translate }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" routerLink="projects">
                      {{ "submenu.liOne" | translate }}</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="prototypes">{{
                      "submenu.liTwo" | translate
                    }}</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" routerLink="designs">{{
                      "submenu.liThree" | translate
                    }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </span>

          <!--APP LANGUAGUES SELECTION STARTS-->
          <div class="d-flex bg-body p-1 px-2 rounded ms-lg-4">
            <!-- <img
              src="../assets/img/language-light.svg"
              alt="Seleccion de idioma"
              height="25"
              class="d-inline-block"
            /> -->

            <!-- <div class="dropdown">
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ "languages.languageSelection" | translate }}
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a
                    class="dropdown-item"
                    value="show"
                    (click)="useLanguage('es')"
                    >ESPAÑOL</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    value="hide"
                    (click)="useLanguage('en')"
                    >INGLES</a
                  >
                </li>
              </ul>
            </div> -->

            <!-- <select (change)="onSelectionChange($event)">
              <option
                value="show"
                (click)="useLanguage('es')"
                class="dropdown-item"
              >
                ES
              </option>
              <option
                value="hide"
                (click)="useLanguage('en')"
                class="dropdown-item"
              >
                EN
              </option>
            </select> -->

            <!-- <button
              value="show"
              class="dropdown-item"
              (click)="useLanguage('es')"
            >
              Español
            </button> -->
            <!-- <button
              value="hide"
              class="dropdown-item"
              (click)="useLanguage('en')"
            >
              English
            </button> -->

            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <button
                  value="show"
                  class="dropdown-item"
                  (click)="useLanguage('es')"
                >
                  Español
                </button>
              </li>
              <li>
                <button
                  value="hide"
                  class="dropdown-item"
                  (click)="useLanguage('en')"
                >
                  English
                </button>
              </li>
            </ul> -->

            <!--//////////////////////////////////////////////
              este es el primer codigo de todos. no usar mas
            /////////////////////////////////////////////////-->

            <!-- <label for="cars">Choose a car:</label>
            <select name="cars" (change)="onSelectionChange($event)">
              <option value="show">
                <a (click)="useLanguage('es')"></a>Show Element
              </option>
              <option value="hide">
                <a (click)="useLanguage('es')"></a>Hide Element
              </option>
            </select> -->

            <!-- <button class="dropdown-item" (click)="useLanguage('es')">
              Español
            </button>
            <button class="dropdown-item" (click)="useLanguage('en')">
              English
            </button> -->
            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <button class="dropdown-item" (click)="useLanguage('es')">
                  Español
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="useLanguage('en')">
                  English
                </button>
              </li>
            </ul> -->

            <!--//////////////////////////////////////////////
              este es el primer codigo de todos. no usar mas
            /////////////////////////////////////////////////-->

            <!--//////////////////////////////////////////////
              este es el codigo final ok de todos.
            /////////////////////////////////////////////////-->

            <select
              class="select select-bn"
              #langSelect
              (change)="translate.use(langSelect.value)"
            >
              <option
                *ngFor="let lang of translate.getLangs()"
                [value]="lang"
                [selected]="lang === translate.currentLang"
              >
                {{ lang }}
              </option>
            </select>

            <!--//////////////////////////////////////////////
               este es el codigo final ok de todos.
            /////////////////////////////////////////////////-->
          </div>
          <!--APP LANGUAGUES SELECTION ENDS-->
        </div>
        <!--APP MENU ENDS-->
      </div>
    </nav>
  </div>
</header>
