<div class="d-md-flex col">
  <div class="p-3 fs-0 open-sans open-sans-titles">
    <p>
      <span class="">{{ "home.titleA" | translate }}</span>
    </p>
    <p>
      <span class="fs-A ml-n1 cb3">{{ "home.titleB" | translate }}</span>
    </p>
    <p>
      <span class="fs-01">{{ "home.titleC" | translate }}</span>
    </p>
    <p>
      <span class="">{{ "home.titleD" | translate }}</span>
    </p>
    <p>
      <span class="fs-02">{{ "home.titleE" | translate }}</span>
    </p>
  </div>

  <div class="p-3 col">ME</div>
</div>
