.cb1 {
  border: 1px solid red;
}
.cb2 {
  border: 1px solid green;
}
.cb3 {
  border: 1px solid blue;
}
.cb4 {
  border: 1px solid purple;
}

///////////////////////////////
//////////////////////////////
/// container ///////////////////
